#navigation{
	width:140px;
}

#navigation table{
	width:100%
}

#navigation input{
	width:100%
}

#content{
	position: relative;
	background-color:gray;
	max-width: 400px;
	max-height: 400px;
}
.grey_square{
	width:50px;
	height:50px;
	background-color:#a6a6a6;
}
.white_square{
	/*width:50px;
	height:50px;*/
	background-color:white;
}
.piece{
	position:absolute;
}
#flag{
	text-align:center;
}
#arrow_canvas{
	pointer-events:none;
	position:absolute;
	z-index:1;
}
#checkerboard{
	pointer-events:none; 
	z-index:0;
}

#checkerboard td{
	display:inline-block;
	vertical-align:top;
}
#checkerboard tr{
	display:block;
	vertical-align:top;
}
