html {
    background-color: #eee;
}
body{
	font-family:"Trebuchet MS";
}

#translator_title{
	margin: 10px 10px 10px 10px;
}

#translator{
	margin:10px 10px 10px 10px;
}
#translator td{
	padding-right:10px;
}

.correct, .correct_entry{
	color:blue;
}
.red{
	color:red; 
}
.strikethrough{
	text-decoration: line-through;
}
